<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-1344482-7"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-1344482-7');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>When your network is bad, you make pretty graphs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="css/default.css">
</head>

<body>
    <section class="section">
        <div id="root" class="container">
            <div class="columns is-mobile is-centered is-vcentered">
                <div class="column is-half">
                    <h1 class="has-text-centered">Broadband Download Speeds</h1>
                </div>
            </div>
            <div class="columns is-mobile is-centered is-vcentered">
                <div id="svg" style="width: 80vw; height: 40vw;">
                    <svg viewBox="0 0 600 330">
                        <template v-for="i in legend">
                            <a>
                                <g>
                                    <rect :x="i.x" :y="i.y" :width="i.w" :height="i.h" :fill="i.fill" stroke="white">
                                        <text :x="i.tx" :y="i.ty" class="small"> {{ i.text }}</text>
                                    </rect>
                                </g>
                            </a>
                        </template>
                        <template v-for="i in legendText">
                            <a>
                                <g>
                                    <text :x="i.tx" :y="i.ty" class="small"> {{ i.text }}</text>
                                </g>
                            </a>
                        </template>
                        <template v-for="i in values">
                            <a>
                                <g>
                                    <rect :x="i.x" :y="i.y" :width="i.w" :height="i.h" :fill="i.fill" stroke="white">
                                    </rect>
                                    <text :x="i.tx" :y="i.ty" id="rate" class="small"> {{ i.t }}</text>
                                </g>
                            </a>
                        </template>
                        <template v-for="i in xAxis">
                            <a>
                                <g>
                                    <line :x1="i.x" :y1="i.y" :x2="i.x2" :y2="i.y2"
                                        style="stroke:#4a4a4a;stroke-width:1" />
                                    <text :x="i.tx" :y="i.ty" class="small"> {{ i.text }}</text>
                                </g>
                            </a>
                        </template>
                        <template v-for="i in yAxis">
                            <a>
                                <g>
                                    <text :x="i.tx" :y="i.ty" class="small"> {{ i.text }}</text>
                                </g>
                            </a>
                        </template>

                    </svg>
                </div>
            </div>
        </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/app.js"></script>

</body>

</html>